footer {
    color: #A5B2C6;
}

footer a {
    text-decoration: none;
}

.ft-main-item {
    justify-content: space-evenly;
    text-align: center;
}

.footer-logo {
    width: 205px;
}

.copyright {
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-bottom: 60px;
    font-weight: bold;
}

.footer-icon {
    height: 31px;
    padding-right: 19.5px;
    padding-left: 19.5px;
}

.footer-list {
    list-style: none;
    padding-inline-start: 0px;
    margin-top: -15px;
}

@media only screen and (max-width: 763px) {
    .footer-list {
        margin-top: 0px !important;
    }
}

.footer-text-info {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    line-height: 50px;
}

.footer-text-info p {
    margin: 0;
}

.footer-text-info-last-child {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 32px;
    padding-top: 18px;
}

.footer-tel {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 49px;
    line-height: 50px;
}

.footer {
    padding-bottom: 139px;
    width: 100%;
}

.map {
    width: 100%;
}

.kontakt-title {
    padding-left: 13vw;
    padding-right: 13vw;
    padding-bottom: 46px;
    font-size: 70px;
    font-weight: bolder;
    color: #587095;
    margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
    .kontakt-title {
        padding-bottom: 46px;
        font-size: 70px;
        font-weight: bolder;
        color: #587095;
        margin-bottom: 0;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 763px) {
    .ft-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 1920px) {
    .kontakt-title {
        padding-left: 251px;
        padding-right: 251px;
    }
}

@media only screen and (max-width: 763px) {
    .ft-main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .logos {
        width: 50% !important;
        margin: auto !important;
        padding-bottom: 10px;
    }
    .footer-tel {
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .kontakt-title {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
    }
    .footer-list {
        padding-left: 3.7vw;
        padding-right: 3.7vw;
    }
    .kontakt-title {
        font-size: 40px;
        padding-bottom: 10px;
    }
    .map {
        height: 200px;
    }
    .footer {
        padding-bottom: 30px;
    }
    .footer-logo {
        width: 120px;
    }
    .footer-text-info {
        font-size: 18px;
    }
    .footer-tel {
        font-size: 22px;
        padding-bottom: 0px;
    }
    .footer-text-info {
        line-height: 32px;
    }
    .footer-icon {
        height: 24px;
    }
    .copyright {
        font-size: 12px;
        padding-bottom: 30px;
    }
}

.logos {
    width: 205px;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .map {
        height: 350px;
    }
    .kontakt-title {
        font-size: 50px;
        padding-bottom: 20px;
    }
    .footer {
        padding-bottom: 50px;
    }
}